# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/OEIphone

# main repository
git / https://github.com/OpenEngineDK/branches-ios-main.git
git-dev / git@github.com:OpenEngineDK/branches-ios-main.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/OEIphone https://github.com/OpenEngineDK/projects-OEIphone.git
git-dev /projects/OEIphone git@github.com:OpenEngineDK/projects-OEIphone.git

dist /extensions/OpenGLESRenderer/OpenGLESRenderer.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenGLESRenderer/master/OpenGLESRenderer.dist

# required extensions

git /extensions/TGAResource                  https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/iOSEnvironment               https://github.com/OpenEngineDK/extensions-iOSEnvironment.git
git /extensions/IRC            	           https://github.com/OpenEngineDK/extensions-IRC.git
git /extensions/MeshUtils            	       https://github.com/OpenEngineDK/branches-ios-MeshUtils.git
git /extensions/Sockets            	       https://github.com/OpenEngineDK/extensions-Sockets.git
git /extensions/mesh-OBJResource             https://github.com/OpenEngineDK/extensions-mesh-OBJResource.git

git-dev /extensions/iOSEnvironment	       git@github.com:OpenEngineDK/extensions-iOSEnvironment.git
git-dev /extensions/IRC                      git@github.com:OpenEngineDK/extensions-IRC.git
git-dev /extensions/MeshUtils                git@github.com:OpenEngineDK/branches-ios-MeshUtils.git
git-dev /extensions/TGAResource              git@github.com:OpenEngineDK/extensions-TGAResource.git
git-dev /extensions/mesh-OBJResource         git@github.com:OpenEngineDK/extensions-mesh-OBJResource.git

# windows libraries

# darwin libraries

# linux libraries

# project data

any /projects/OEIphone/data http://openengine.dk/data/models/FutureTank.zip
