# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/OEIphone

# main repository
darcs / http://openengine.dk/code/branches/ios-main
darcs-dev / fh.daimi.au.dk:/users/cgd/code/branches/ios-main

# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/OEIphone http://openengine.dk/code/projects/OEIphone
darcs-dev /projects/OEIphone fh.daimi.au.dk:/users/cgd/code/projects/OEIphone

# required extensions
darcs /extensions/TGAResource                  http://openengine.dk/code/extensions/TGAResource
darcs /extensions/OpenGLESRenderer             http://openengine.dk/code/extensions/OpenGLESRenderer
darcs /extensions/iOSEnvironment               http://openengine.dk/code/extensions/iOSEnvironment
darcs /extensions/IRC            	       http://openengine.dk/code/extensions/IRC
darcs /extensions/MeshUtils            	       http://openengine.dk/code/branches/ios-MeshUtils
darcs /extensions/Sockets            	       http://openengine.dk/code/extensions/Sockets
darcs /extensions/mesh-OBJResource             http://openengine.dk/code/extensions/mesh-OBJResource
darcs /extensions/AccelerationStructures       http://openengine.dk/code/extensions/AccelerationStructures

darcs-dev /extensions/OpenGLESRenderer         fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLESRenderer
darcs-dev /extensions/iOSEnvironment	       fh.daimi.au.dk:/users/cgd/code/extensions/iOSEnvironment
darcs-dev /extensions/IRC                      fh.daimi.au.dk:/users/cgd/code/extensions/IRC
darcs-dev /extensions/MeshUtils                fh.daimi.au.dk:/users/cgd/code/branches/ios-MeshUtils
darcs-dev /extensions/TGAResource              fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/mesh-OBJResource         fh.daimi.au.dk:/users/cgd/code/extensions/mesh-OBJResource
darcs-dev /extensions/AccelerationStructures   fh.daimi.au.dk:/users/cgd/code/extensions/AccelerationStructures

# windows libraries

# darwin libraries

# linux libraries

# project data

any /projects/OEIphone/data http://openengine.dk/data/models/FutureTank.zip
