<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Extensions_AccelerationStructures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Extensions_IRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Extensions_MeshUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Extensions_OBJResource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Extensions_OpenGLESRenderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Extensions_OpenGLESResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Extensions_Sockets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Extensions_TGAResource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Extensions_iOSEnvironment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OEIphone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OpenEngine_Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenEngine_Devices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OpenEngine_Display.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>OpenEngine_Geometry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>OpenEngine_Logging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>OpenEngine_Math.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OpenEngine_Meta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>OpenEngine_Renderers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>OpenEngine_Resources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>OpenEngine_Scene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>OpenEngine_Utils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>doc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>iOERacer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10107DA3010107DA3010107D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10108EF5010108EF5010108E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10109FA2010109FA2010109F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1010B90D01010B90D01010B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1010DAEE01010DAEE01010DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1010F4C901010F4C901010F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10110D91010110D91010110D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101129840101129840101129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1011426B01011426B0101142</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101164950101164950101164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10117D82010117D82010117D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101192770101192770101192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1011A70E01011A70E01011A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1011CC3401011CC3401011CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1011E3DD01011E3DD01011E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10121C91010121C91010121C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10124BB6010124BB6010124B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101268730101268730101268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10128D0B010128D0B010128D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1012A2BA01012A2BA01012A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1012BE8901012BE8901012BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1012F45301012F45301012F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101336ED0101336ED0101336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1013588C01013588C0101358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313522F7133CBFF0003F184B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
